/* 480 */

@media (max-width: 30em) {
    .extra-info-air {
        flex-direction: column;
    }

    .extra-info-air__image {
        max-width: 3.75rem;
        width: 100%;
        max-height: 60px;
        margin-right: 1.5652rem;
        margin: 0 0 1.5625rem 0;
    }
}

/* 380 */

@media (max-width: 23.75em) {
    .extra-info-air__item {
        width: 100%;
        align-items: flex-start;
    }
}